.experience-section {
  padding: 60px 20px;
  padding-left: 160px;
}

.experience-section hr {
  text-align: center;
  margin-bottom: 40px;
  color: #138781;
  width: 400px;
  margin: 10px auto;
}

.experience-section h2 {
  font-weight: bold;
  color: #138781;
  margin: 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  color: #333;
}

.experience-list {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience-card {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.job-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #222;
}

.duration {
  font-style: 0.9rem;
  color: #666;
}

.company {
  font-size: 1rem;
  font-weight: 500;
  color: #444;
}

.location .job-type {
  font-size: 0.85rem;
  color: #555;
  margin-bottom: 4px;
}

.responsibilities {
  margin-top: 10px;
  padding-left: 20px;
}

.responsibilities li {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 6px;
}

/* ================================ */
@media (max-width:600px) {
  .experience-section {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    width: 100%;
  }
  .about-content h1{
    margin-top: 10px;
  }
}